<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Katty/blob/main/Semana_3_Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Semana 3 - Actividad 1

Nombre: Katherine Vanegas Salamanca

Matricula A01794113

Materia: Ciencia y analitica de datos

Fecha: 30 septiembre 2022

Profesor: Jobish / 

##Parte 1

- Fundamentos de bases de datos y para ciencia de datos.

Las bases de datos compilan información por medio de tablas, las cuales a su vez se conforman de columnas y filas, la primera celda de las columnas está reservada para el nombre de campo, las bases de datos resultan un insumo importante para las empresas en la toma de decisiones, y es en este punto donde la ciencia de datos toma relevancia ya que por medio de diferentes metodologías busca generar resultados dependiendo principalmente de los objetivos definidos por la empresa 

- Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

El data warehouse compila grandes volúmenes de información de una o diferentes fuentes, es por esto que se requiere relacionar los datos y hacer que los mismos sean de fácil manipulación y consulta, actualmente se aplica un proceso llamado ELT (extract/load/transfor) haciendo el proceso de transformación más eficiente, esto en la medida que su principal objetivo es servir como materia prima, que por medio de la ciencia de datos genere información relevante que fundamente las decisiones tomadas por la gerencia.

##Parte 2

In [72]:
input = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

import pandas as pd
import numpy as np
df = pd.read_csv(input)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [73]:
df1 = df.copy() #se realiza copia del archivo original
df1.isnull().values.any() #se verifica si hay datos faltantes R/ si

True

In [74]:
df1.isnull().any() # se evidencia que desde la columna X2 hasta la Y hay campos vacios

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [75]:
df1.describe() #metricas estadisticas de los datos

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [76]:
df1.isna().sum() #con esta informacion no se eliminaran los campos y se buscara reemplazarlos, esto en la medida que los datos faltantes no son representativos dentro de la muestra

ID      0
X1      0
X2      1
X3      2
X4      2
X5      5
X6      3
X7      5
X8      7
X9      9
X10    16
X11    14
X12    11
X13    11
X14    13
X15    15
X16    17
X17    10
X18     8
X19     9
X20     8
X21    11
X22    11
X23     5
Y       3
dtype: int64

In [82]:
edad = df1.X5.mean()  #para el caso de la edad en los datos faltantes se reemplazar por el promedio

df1['X2'].fillna(value = df1.X2.median(), inplace = True)
df1['X3'].fillna(value = 4, inplace = True) #se reemplazan los 2 valores por la opcion 4 =others
df1['X4'].fillna(value = 3, inplace = True) #se reemplazan los 2 valores por la opcion 3 =others
df1['X5'].fillna(value = edad, inplace = True)

# en los campos de historial de pagos atrasados y en la medida que los datos faltantes no son representativos se reemplazan por la moda de cada serie
df1['X6'].fillna(value = df1.X6.mode()[0], inplace = True)
df1['X7'].fillna(value = df1.X7.mode()[0], inplace = True)
df1['X8'].fillna(value = df1.X8.mode()[0], inplace = True)
df1['X9'].fillna(value = df1.X9.mode()[0], inplace = True)
df1['X10'].fillna(value = df1.X10.mode()[0], inplace = True)
df1['X11'].fillna(value = df1.X11.mode()[0], inplace = True)

# en los campos de estado de cuenta y monto pagado anterior, ya que en promedio representan aprox el 0.05% de la muestra se decide dejar en 0 los na, de esta forma las metricas de cada campo no se ven afectadas

df1['X12'].fillna(value = 0, inplace = True)
df1['X13'].fillna(value = 0, inplace = True)
df1['X14'].fillna(value = 0, inplace = True)
df1['X15'].fillna(value = 0, inplace = True)
df1['X16'].fillna(value = 0, inplace = True)
df1['X17'].fillna(value = 0, inplace = True)
df1['X18'].fillna(value = 0, inplace = True)
df1['X19'].fillna(value = 0, inplace = True)
df1['X20'].fillna(value = 0, inplace = True)
df1['X21'].fillna(value = 0, inplace = True)
df1['X22'].fillna(value = 0, inplace = True)
df1['X23'].fillna(value = 0, inplace = True)


df1.isna().sum()
df1.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,29997.000000
mean,15000.500000,167484.322667,1.603767,1.853200,1.552000,35.484214,-0.016633,-0.133667,-0.166367,-0.220733,...,43254.014500,40301.643433,38868.175367,5661.435767,5.920712e+03,5224.229900,4825.482533,4798.537100,5215.390600,0.221189
std,8660.398374,129747.661567,0.489122,0.790488,0.522084,9.217256,1.123773,1.197155,1.195911,1.168983,...,64336.685437,60800.326465,59555.614423,16562.214424,2.304095e+04,17606.281352,15666.151619,15278.316646,17777.494206,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2315.000000,1758.500000,1252.500000,1000.000000,8.320000e+02,390.000000,293.000000,249.000000,116.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19037.000000,18093.000000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50177.000000,49198.250000,5006.000000,5.000000e+03,4504.250000,4013.000000,4031.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

## Parte 3

¿Qué datos considero mas importantes? ¿Por qué?

Dado que el objetivo es predecir la probabilidad real de incumplimiento de los pagos, dentro de los datos más importantes están los que se ubican entre la columna X6 y X11 ya que muestra los periodos de mora de cada una de las personas, además se tomó la escala de mora lo cual facilita la interpretación de los datos. Se puede crear una relación entre estos datos y la edad, el nivel educativo, el género y la situación marital para así poder determinar patrones.

¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

La decisión fue no eliminar datos, ya que se identificó que la proporción de los datos faltantes sobre el total (30.000) no eran materiales o representativos dentro de la muestra, alrededor del 0.05% el más alto, se optó por reemplazar dependiendo el dato por medias estadísticas y en el caso de valores se reemplazó por 0 dada la amplia dispersión de los datos, el detalle en la parte 2. 

¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?

No es necesario, lo importante es conocer que contiene cada columna y poder así interpretar y darle la importancia a los campos que son relevantes para el objetivo buscado 

¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

Al revisar la información original de la base de datos se encuentra que los campos contienen datos tipo  integer (int), por lo que inicialmente no sería necesario darle formato, sin embargo, para mejor visualización a los campos del X1, X6 al X23 por tratarse de dinero en dolares se podría aplicar un formato de moneda USD.   

¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

Dentro de los ajustes realizados a los datos se modificaron registros utilizando procedimientos de acuerdo al tipo de información presentada, teniendo en cuenta principalmente conservar la consistencia de los datos